@use 'sass:math';
$separacionFooter : math.div(5rem, 2);

.footer{
    padding: $separacionFooter 0;
    background-color: $grisOscuro;
    margin-bottom: 0;
    .contenedor-footer{
        padding: $separacionFooter;
    }

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }
}